{% extends 'layout.html' %}

{% block head %}
    Post
{% endblock %}

{% block main %}
    <div class="panel panel-default col-md-6 col-md-offset-3">
        {% include '_posts.html' %}

          <form role="form"  method="POST" class="m-x-auto app-login-form form-horizontal">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        {{ form.body(class="form-control", placeholder="Comment") }}
        {{ form.submit(class="btn btn-pill text-center btn-primary-outline btn-sm", type="submit") }}
          </form>
        <div class="text-md-center text-muted"><h4>Comments</h4></div>
            {% include '_comments.html' %}
    </div>
{% endblock %}
